# Import Pandas

To use the Pandas library, you need to import it into your coding environment. For these exercises, our coding environment is this Jupyter notebook. Pandas is typically imported and named as "pd".

In [4]:
# import the pandas library and use the alias 'pd'
import pandas as pd

# Series

A series is a data type used by Pandas. It is like a one dimensional list, whose elements can be of any data type themselves.
Pandas contains a method, ``.Series()``, that initiates a series object from a Python list, tuple,

In [14]:
#create the s1 series from the list: [10,20,30,40,50]
s1= pd.Series([10,20,30,40,50])
print (s1)

# additional practice
# create a series called s_tuple from the tuple: ("apple", "banana", "cherry")
import pandas as pd
s_tuple= pd.Series(("apple", "banana", "cherry"))
print (s_tuple)

# create a series called s_dictionary from the dictionary: {"brand": "Ford", "model": "Mustang", "year": 1964}
import pandas as pd
s_dictionary= pd.Series({"brand": "Ford", "model": "Mustang", "year": 1964})
print (s_dictionary)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0     apple
1    banana
2    cherry
dtype: object
brand       Ford
model    Mustang
year        1964
dtype: object

In [22]:
# fill in the blank with the series values and index values
print(10, 20, 30, 40, 50)
print(1,2,3,4,5)
print("\n")
print("apple","banana","cherry")
print(0,1,2,)
print("\n")
print("Ford", "Mustang", 1974)
print("brand", "model", "year")

10 20 30 40 50
1 2 3 4 5


apple banana cherry
0 1 2


Ford Mustang 1974
brand model year

Index values in a series are generated by default. We can also define custom indexes at the time of creating series.

Below is a series of marks (grades) and the associated subjects can be defined as custom row indexes.

In [31]:
# create the s2 series from the list [80,93,78,85,97] and with labeled indexes ['English','Science','Social','Tamil','Maths']
import pandas as pd
s2_series = pd.Series([80,93,78,85,97]), index=(['English', 'Science', 'Social', 'Tamil', 'Maths'])

In [32]:
# print the s2 series
print (s2_series)

English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

We can provide a name for the whole series, as well as a name for the indexes.

In [46]:
# assign the s2 series name to be "Student Marks"
custom_index_labels= pd.Series([80,93,78,85,97], name= "Student Marks")
print (custom_index_labels)

                               

# assign the s2 index name to be "Subject"
s2_series.index.name= 'Subject'
print (s2_series)

0    80
1    93
2    78
3    85
4    97
Name: Student Marks, dtype: int64
Subject
English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

## Subsetting the Series

Values inside the series can be accessed using the ``[ ]`` square bracket slicing operation

- Series can be sliced using the default index
- Series can also be sliced using string indices (indexes)

In [47]:
# return the first element in the s2 series
first_element= s2_series[0]
print (first_element)

80

C:\Users\daldr\AppData\Local\Temp\ipykernel_22980\3389703281.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  first_element= s2_series[0]

In [55]:
# slicing using default integer index
# return the elements starting at position one and ending with the element at index 3
subset_element= s2_series[1:4]
print("Subset elements from index 1-3")
print(subset_element)

Subset elements from index 1-3
Subject
Science    93
Social     78
Tamil      85
dtype: int64

In [57]:
# Slicing using string index
# return the element associated with the index 'Tamil'

Tamil

## Creating a Series from a Dictionary

- A Python dictionary is a data structure which maps keys to a set of values.
- A dictionary contains key-value pairs.
- A series is similar to a dictionary in a way that it maps given indexes to a set of values.

Let's see how to create a series from a dictionary

I have a dictionary that represents fruits and prices. Let's create a series from this dictionary

In [60]:
# create a dictionary of fruit names and their prices. Use the values from the article
fruits_prices = {
                 'Apples': 1.00,
                 'Apricot': 3.00,     
                 'Watermelon': 5.00,
                 'Pineapple': 4.00,
                 'Cherries': 2.00
}

fruit_series= pd.Series(fruits_prices)
print("Fruit Prices Series:")
print(fruit_series)

Fruit Prices Series:
Apples        1.0
Apricot       3.0
Watermelon    5.0
Pineapple     4.0
Cherries      2.0
dtype: float64

In [ ]:
# Lets convert this dictionary into a series
# use the pandas method .Series()

In [ ]:
# print the series

In [ ]:
# Slice the series and retrieve price of grapes

# DataFrame

## Create a DataFrame from a Series object

Let's create a DataFrame from the marks series we created in the above step.

In [63]:
# create a dataframe from the s2 series
import pandas as pd
s2_series= pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])
s2_series_data_frame= pd.DataFrame

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1523472782.py, line 4)

In [64]:
# print the dataframe
print (pd.Dataframe)

AttributeError: module 'pandas' has no attribute 'Dataframe'

## Create a DataFrame from a Dictionary

Let's say we have 2 series of heights and weights of the same set of persons and we want to put it together in a table.

Here we can create dictionary using both series and create a DataFrame using the Pandas ``.DataFrame()`` method.

In [78]:
# Create height series using [5.3,6.2,5.8,5.0,5.5] for values, ['Person 1','Person 2','Person 3','Person 4','Person 5'] for indexes
import pandas as pd
height_series= pd.Series([5.3, 6.2, 5.8, 5.0, 5.5], index=['Person 1', 'Person 2', 'Person 3', 'Person 4', 'Person 5'])
print (height_series)

# Create weight series (in kgs) using [65,89,75,60,59] for values and the same indexes as height
import pandas as pd
weight_series= pd.Series(["65kgs", "89kgs","75kgs","60kgs","59kgs"], index= ['Person1', 'Person 2', 'Person 3', 'Person 4', 'Person 5'])
print (weight_series)

Person 1    5.3
Person 2    6.2
Person 3    5.8
Person 4    5.0
Person 5    5.5
dtype: float64
Person1     65kgs
Person 2    89kgs
Person 3    75kgs
Person 4    60kgs
Person 5    59kgs
dtype: object

In [86]:
# Create a dataframe from the height and weight series above
import pandas as pd
combined_data= pd.DataFrame({"Height": height_series, "Weight": weight_series})
print(combined_data)



# print the dataframe

          Height Weight
Person 1     5.3    NaN
Person 2     6.2  89kgs
Person 3     5.8  75kgs
Person 4     5.0  60kgs
Person 5     5.5  59kgs
Person1      NaN  65kgs